<!-- begin #header -->
<div id="header" class="header navbar-default">
  <!-- begin navbar-header -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" (click)="mobileSidebarToggle()">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="/" class="navbar-brand">
      <img src="assets/img/logo/logo-1.png" />
      <b>FANIoT</b> Admin
    </a>
  </div>
  <!-- end navbar-header -->

  <!-- begin header-nav -->
  <ul class="navbar-nav navbar-right" *ngIf="authService.isAuthorized() | async">
    <li class="dropdown navbar-user" ngbDropdown>
      <a href="javascript:;" class="dropdown-toggle" ngbDropdownToggle>
        <img ngxGravatar [email]="this.authService.getUser().email" [fallback]="mm" />
        <span class="d-none d-md-inline">{{authService.getUser().firstname}} {{authService.getUser().lastname}}</span> <b class="caret"></b>
      </a>
      <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
        <a routerLink="profile" class="dropdown-item">Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a (click)="this.authService.logout()" class="dropdown-item">Log Out</a>
      </div>
    </li>
  </ul>
  <!-- end header navigation right -->
</div>
<!-- end #header -->
