<!-- begin breadcrumb -->
<app-breadcrumb></app-breadcrumb>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">Thing Creation for Project {{ projectID }} <small>Build your thing</small></h1>
<!-- end page-header -->
<div class="row">
  <!-- begin thing-creation-form -->
  <div class="col-md-6">
    <div class="panel panel-inverse">
      <div class="panel-heading">
        <h4 class="panel-title">Thing Information</h4>
      </div>
      <div class="panel-body">
        <form #f="ngForm" (ngSubmit)="formSubmit(f)" class="margin-bottom-0">
          <div class="row m-b-15">
            <mat-form-field class="col-md-12">
              <input matInput name="name" #name="ngModel" ngModel type="text" placeholder="Name" required />
              <mat-error *ngIf="name.hasError('required')">
                Name is required.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row row-space-10">
            <mat-form-field class="col-md-6 m-b-15">
              <input matInput name="latt" #latt="ngModel" [ngModel]="centerLat" (ngModelChange)="onCenterLatChange($event)" ngModel type="number" placeholder="Latitude" required max="90" min="-90" />
              <mat-error *ngIf="latt.hasError('required')">
                Latitude is required.
              </mat-error>
              <mat-error *ngIf="latt.hasError('min') || latt.hasError('max')">
                Please enter a valid latitude.
              </mat-error>
            </mat-form-field>
            <mat-form-field class="col-md-6 m-b-15">
              <input matInput name="long" #long="ngModel" [ngModel]="centerLng" (ngModelChange)="onCenterLngChange($event)"  ngModel type="number" placeholder="Longitude" required max="180" min="-180" />
              <mat-error *ngIf="long.hasError('required')">
                Longitude is required.
              </mat-error>
              <mat-error *ngIf="long.hasError('min') || long.hasError('max')">
                Please enter a valid longitude.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="register-buttons">
            <button type="submit" class="btn btn-primary btn-block btn-lg">Build</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- end thing-creation-form -->
  <!-- begin thing-creation-map -->
  <div class="col-md-6">
    <div class="panel panel-inverse">
      <div class="panel-heading">
        <h4 class="panel-title">Thing Location</h4>
      </div>
      <div class="panel-body">
        <div leaflet class="map"
                     [leafletOptions]="options"
                     [leafletCenter]="{ lat: centerLat, lng: centerLng }"
                     [leafletLayer]="layer"
          >
        </div>
      </div>
    </div>
  </div>
  <!-- end thing-creation-map -->
</div>
