<!-- begin breadcrumb -->
<app-breadcrumb></app-breadcrumb>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">Thing Creation <small>Build your thing</small></h1>
<!-- end page-header -->
<div class="row">
  <!-- begin thing-creation-form -->
  <div class="col-md-6">
    <div class="panel panel-inverse">
      <div class="panel-heading">
        <h4 class="panel-title">Thing Information</h4>
      </div>
      <div class="panel-body">
        <form #f="ngForm" (ngSubmit)="formSubmit(f)" class="margin-bottom-0">
          <label class="control-label">Name <span class="text-danger">*</span></label>
          <div class="row m-b-15">
            <div class="col-md-12">
              <input name="name" #name="ngModel" ngModel type="text" [class.is-invalid]="isValid(name)" class="form-control" placeholder="Name" required />
              <div *ngIf="name.hasError('required')" class="invalid-feedback">
                Name is required.
              </div>
            </div>
          </div>
          <label class="control-label">GeoLocation <span class="text-danger">*</span></label>
          <div class="row row-space-10">
            <div class="col-md-6 m-b-15">
              <input name="latt" #latt="ngModel" [(ngModel)]="centerLat" ngModel type="number" [class.is-invalid]="isValid(latt)" class="form-control" placeholder="Latitude" required
                                                                                                                                                       max="90" min="-90" />
              <div *ngIf="latt.hasError('required')" class="invalid-feedback">
                Latitude is required.
              </div>
              <div *ngIf="latt.hasError('min') || latt.hasError('max')" class="invalid-feedback">
                Please enter a valid latitude.
              </div>
            </div>
            <div class="col-md-6 m-b-15">
              <input name="long" #long="ngModel" [(ngModel)]="centerLng" ngModel type="number" [class.is-invalid]="isValid(long)" class="form-control" placeholder="Longitude" required
                                                                                                                                                       max="180" min="-180" />
              <div *ngIf="long.hasError('required')" class="invalid-feedback">
                Longitude is required.
              </div>
              <div *ngIf="long.hasError('min') || long.hasError('max')" class="invalid-feedback">
                Please enter a valid longitude.
              </div>
            </div>
          </div>
          <div class="register-buttons">
            <button type="submit" class="btn btn-primary btn-block btn-lg">Build</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- end thing-creation-form -->
  <!-- begin thing-creation-map -->
  <div class="col-md-6">
    <div class="panel panel-inverse">
      <div class="panel-heading">
        <h4 class="panel-title">Thing Location</h4>
      </div>
      <div class="panel-body">
        <agm-map [latitude]="centerLat" [longitude]="centerLng" [zoom]="15">
          <agm-marker [latitude]="centerLat" [longitude]="centerLng" title="Your Thing" (dragEnd)="markerDrag($event)" [markerDraggable]="true"></agm-marker>
        </agm-map>
      </div>
    </div>
  </div>
  <!-- end thing-creation-map -->
</div>
