<!-- begin profile -->
<div class="profile">
  <div class="profile-header">
    <!-- BEGIN profile-header-cover -->
    <div class="profile-header-cover"></div>
    <!-- END profile-header-cover -->
    <!-- BEGIN profile-header-content -->
    <div class="profile-header-content">
      <!-- BEGIN profile-header-img -->
      <div class="profile-header-img">
        <img ngxGravatar [email]="user.email" fallback="mm" [round]="false" [size]="120" />
      </div>
      <!-- END profile-header-img -->
      <!-- BEGIN profile-header-info -->
      <div class="profile-header-info">
        <h4 class="m-t-10 m-b-5">{{ user.firstname }} {{ user.lastname }}</h4>
        <p class="m-b-10">@{{ user.username }}</p>
        <p class="btn btn-xs btn-yellow disabled">Edit Profile</p>
      </div>
      <!-- END profile-header-info -->
    </div>
    <!-- END profile-header-content -->
    <!-- BEGIN profile-header-tab -->
    <ul class="profile-header-tab nav nav-tabs">
      <li class="nav-item" *ngFor="let tab of tabs; let i = index">
        <a href="javascript:;" (click)="showTab(i)" [ngClass]="{ 'active': tab.isSelected }" class="nav-link">{{ tab.name | uppercase }}</a>
      </li>
    </ul>
    <!-- END profile-header-tab -->
  </div>
</div>
<!-- end profile -->
<!-- begin profile-content -->
<div class="profile-content">
  <!-- begin tab-content -->
  <div class="tab-content p-0">
    <!-- begin #profile-about tab (index = 0) -->
    <div class="tab-pane fade" [ngClass]="{ 'active show': tabs[0].isSelected }">
      <!-- begin table -->
      <div class="table-responsive">
        <table class="table table-profile">
          <thead>
            <tr>
              <th></th>
              <th>
                <h4>About Me <small>Details we know about you.</small></h4>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="highlight">
              <td class="field">Username</td>
              <td>
                <mat-form-field>
                  <input matInput [value]="user.username" disabled>
                </mat-form-field>
              </td>
            </tr>
            <tr class="divider">
              <td colspan="2"></td>
            </tr>
            <tr>
              <td class="field">First Name</td>
              <td>
                <mat-form-field>
                  <input matInput [value]="user.firstname">
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td class="field">Last Name</td>
              <td>
                <mat-form-field>
                  <input matInput [value]="user.lastname">
                </mat-form-field>
              </td>
            </tr>
            <tr class="divider">
              <td colspan="2"></td>
            </tr>
            <tr>
              <td class="field">Mobile <i class="fa fa-mobile fa-lg m-r-5"></i></td>
              <td>
                  <mat-form-field>
                    <input matInput value="+98 (939) 09 09 540">
                  </mat-form-field>
              </td>
            </tr>
            <tr class="divider">
              <td colspan="2"></td>
            </tr>
            <tr class="highlight">
              <td class="field">About Me</td>
              <td><a href="javascript:;">Add Description</a></td>
            </tr>
            <tr class="divider">
              <td colspan="2"></td>
            </tr>
            <tr>
              <td class="field">Country</td>
              <td>
                <mat-form-field>
                  <mat-select value="IR">
                    <mat-option *ngFor="let country of countries" [value]="country.code">{{ country.name }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td class="field">Gender</td>
              <td>
                <mat-form-field>
                  <mat-select>
                    <mat-option value="male">Male</mat-option>
                    <mat-option value="female">Female</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
            </tr>
            <tr class="divider">
              <td colspan="2"></td>
            </tr>
            <tr class="highlight">
              <td class="field">&nbsp;</td>
              <td class="p-t-10 p-b-10">
                <button type="submit" class="btn btn-primary width-150">Update</button>
                <button type="submit" class="btn btn-white btn-white-without-border width-150 m-l-5">Cancel</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- end table -->
    </div>
    <!-- end #profile-about tab -->
  </div>
  <!-- end tab-content -->
</div>
<!-- end profile-content -->
