<div class="modal-header">
  <h4 class="modal-title">Asset Creation</h4>
  <button type="button" class="close" aria-label="Close" (click)="dialogRef.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form #f="ngForm" (ngSubmit)="formSubmit(f)" class="margin-bottom-0">
    <div class="row m-b-15">
      <mat-form-field class="col-md-12">
        <input matInput name="name" #name="ngModel" ngModel type="text" placeholder="Name e.g. 101" required pattern="[A-Za-z0-9]+" />
        <mat-error *ngIf="name.hasError('required')">
          Name is required.
        </mat-error>
        <mat-error *ngIf="name.hasError('pattern')">
          Name must contains only alphanumeric characters.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row m-b-15">
      <mat-form-field class="col-md-12">
        <input matInput name="title" #title="ngModel" ngModel type="text" placeholder="Title e.g. Temperature" required />
        <mat-error *ngIf="title.hasError('required')">
          Title is required.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row m-b-15">
      <mat-form-field class="col-md-12">
        <mat-select name="type" ngModel placeholder="Type" required>
          <mat-option value="number">Number</mat-option>
          <mat-option value="string">String</mat-option>
          <mat-option value="object">Object</mat-option>
          <mat-option value="array">Array</mat-option>
          <mat-option value="boolean">Boolean</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <label class="control-label">Kind <span class="text-danger">*</span></label>
    <div class="row m-b-15">
      <mat-radio-group class="col-md-12" name="kind" ngModel required>
        <mat-radio-button value="sensor">
          Sensor
        </mat-radio-button>
        <br>
        <mat-radio-button value="actuator">
          Actuator
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="register-buttons">
      <button type="submit" class="btn btn-success btn-block btn-lg" [disabled]="loading || f.invalid" [innerHTML]="submitButtonText"></button>
    </div>
  </form>
</div>
<div class="modal-footer">
</div>
