<!-- begin breadcrumb -->
<app-breadcrumb></app-breadcrumb>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">Thing <small>{{ thing?.name }}</small></h1>
<!-- end page-header -->
<div class="row">
  <!-- begin thing-location-map -->
  <div class="col-md-6">
    <div class="panel panel-inverse">
      <div class="panel-heading">
        <h4 class="panel-title">Location</h4>
      </div>
      <div class="panel-body">
        <div leaflet class="map"
                     [leafletOptions]="options"
                     [leafletCenter]="{ lat: thing?.latitude, lng: thing?.longitude }"
                     [leafletLayer]="layer"
                     >
        </div>
      </div>
    </div>
  </div>
  <!-- end thing-location-map -->
  <!-- begin thing-tokens -->
  <div class="col-md-6">
    <div class="panel panel-inverse">
      <div class="panel-heading">
        <div class="panel-heading-btn">
          <a class="btn btn-xs btn-icon btn-circle btn-success" (click)="createToken()"><i class="fa fa-plus"></i></a>
        </div>
        <h4 class="panel-title">Tokens</h4>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Token</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let token of thing?.tokens; let idx = index">
                <td>{{idx + 1}}</td>
                <td>{{token}}</td>
                <td class="with-btn">
                  <a (click)="removeToken(token)" class="btn btn-sm btn-icon btn-circle"><i class="fa fa-trash"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- end thing-tokens -->
</div>
<!-- begin thing-assets -->
<h3>Assets</h3>
<div class="row">
  <div class="col-lg-3 col-md-6" *ngFor="let asset of thing?.assets">
    <div class="widget widget-stats" [ngClass]="bgToTypeMap[asset.type]">
      <div class="stats-icon">
        <i *ngIf="asset.kind === 'sensor'" class="far fa-arrow-alt-circle-up"></i>
        <i *ngIf="asset.kind === 'actuator'" class="far fa-arrow-alt-circle-down"></i>
      </div>
      <div class="stats-info">
        <h4>{{ asset.name }} - {{ asset.kind | titlecase }} - {{ asset.type | titlecase }}</h4>
        <p>{{ asset.title }}</p>
      </div>
      <div class="stats-link">
        <a>Recent Data</a>
        <a (click)="removeAsset(asset.name)"><i class="fa fa-trash"></i></a>
      </div>
    </div>
  </div>
</div>
<!-- end thing-assets -->
<!-- begin new-asset-button -->
<button (click)="createAsset()" type="button" class="btn btn-primary btn-circle">
  <i class="fas fa-plus"></i>
  New Asset
</button>
<!-- end new-asset-button -->
<hr>
<!-- begin thing-connectivities -->
<h3>Connectivities</h3>
<div class="row">
  <div class="col-lg-3 col-md-6" *ngFor="let connectivity of thing?.connectivities">
    {{ connectivity | json }}
  </div>
</div>
<!-- end thing-connectivities -->
<!-- begin new-connectivity-button -->
<button (click)="createConnectivity()" type="button" class="btn btn-primary btn-circle">
  <i class="fas fa-plus"></i>
  New Connectivity
</button>
<!-- end new-connecivity-button -->
<hr>
<!-- begin to-chart-button -->
<button [routerLink]="['chart']" class="btn btn-success">
  <i class="fas fa-chart-area"></i>
  Chart
</button>
<!-- end to-chart-button -->
