<div class="modal-header">
  <h4 class="modal-title">Connectivity Creation</h4>
  <button type="button" class="close" aria-label="Close" (click)="dialogRef.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ng-select [items]="connectivities"
    (change)="ctypeChange($event)"
    [selectOnTab]="true"
    placeholder="Select Connectivity Type">
  </ng-select>
  <hr>
  <ng-container *ngIf="ctype === connectivityType.TTN">
    <p>The Things Network connectivity setup, check <a href="http://thethingsnetwork.org">here</a> for more information</p>
    <form #f="ngForm" (ngSubmit)="formSubmit(f)" class="margin-bottom-0">
      <div class="row m-b-15">
        <mat-form-field class="col-md-12">
          <input matInput name="application_id" #application_id="ngModel" ngModel type="text" placeholder="Application ID" required />
          <mat-error *ngIf="application_id.hasError('required')">
            Application ID is required.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row m-b-15">
        <mat-form-field class="col-md-12">
          <input matInput name="device_eui" #device_eui="ngModel" ngModel type="text" placeholder="Device EUI" required />
          <mat-error *ngIf="device_eui.hasError('required')">
            Device EUI is required.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="register-buttons">
        <button type="submit" class="btn btn-success btn-block btn-lg" [disabled]="loading || f.invalid" [innerHTML]="submitButtonText"></button>
      </div>
    </form>
  </ng-container>
</div>
<div class="modal-footer">
  <p>Please note that due to the caching mechanism connectivities effect after few minutes</p>
</div>
