<!-- begin register -->
<div class="register register-with-news-feed">
  <!-- begin news-feed -->
  <div class="news-feed">
    <div class="news-image" style="background-image: url(../assets/img/bg/register-bg.jpg)"></div>
    <div class="news-caption">
      <h4 class="caption-title"><b>Things</b> Are In Your Hands</h4>
      <p>
        As an IoT Developer, you use the I1820 Admin to manage your things, projects, scenarios and more.
      </p>
      <p><!-- give credit to the photographer on unsplash -->
        <a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px" href="https://unsplash.com/@mehrshadr?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Mehrshad Rajabi"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Mehrshad Rajabi</span></a>
      </p>
    </div>
  </div>
  <!-- end news-feed -->
  <!-- begin right-content -->
  <div class="right-content">
    <!-- begin register-header -->
    <h1 class="register-header">
      Sign Up
      <small>Create your I1820 Admin Account. It’s free and always will be.</small>
    </h1>
    <!-- end register-header -->
    <!-- begin register-content -->
    <div class="register-content">
      <form #f="ngForm" (ngSubmit)="formSubmit(f)" class="margin-bottom-0">
        <div class="row row-space-10">
          <mat-form-field class="col-md-6 m-b-15">
            <input matInput name="firstName" #firstName="ngModel" ngModel type="text" placeholder="First name" required />
            <mat-error *ngIf="firstName.hasError('required')">
              First name is required.
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-md-6 m-b-15">
            <input matInput name="lastName" #lastName="ngModel" ngModel type="text" placeholder="Last name" required />
            <mat-error *ngIf="lastName.hasError('required')">
              Last name is required.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row m-b-15">
          <mat-form-field class="col-md-12">
            <input matInput name="username" #username="ngModel" ngModel type="text" placeholder="Username" required pattern="[A-Za-z0-9]+"/>
            <mat-error *ngIf="username.hasError('required')">
              Username is required.
            </mat-error>
            <mat-error *ngIf="username.hasError('pattern')">
              Username must contains only alphanumeric characters.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row m-b-15">
          <mat-form-field class="col-md-12">
            <input matInput name="email" #email="ngModel" ngModel type="text" placeholder="Email address" required email/>
            <mat-error *ngIf="email.hasError('required')">
              Email is required.
            </mat-error>
            <mat-error *ngIf="email.hasError('email')">
              Please enter valid email address.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row m-b-15">
          <mat-form-field class="col-md-12">
            <input matInput name="password" #password="ngModel" ngModel type="password" placeholder="Password" required/>
            <mat-error *ngIf="password.hasError('required')">
              Password is required.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row m-b-30">
            <mat-checkbox class="col-md-12">
              By clicking Sign Up, you agree to our <a href="javascript:;">Terms</a><br>
              and that you have read our <a href="javascript:;">Data Policy</a>,<br>
              including our <a href="javascript:;">Cookie Use</a>.
            </mat-checkbox>
        </div>
        <div class="register-buttons">
          <button type="submit" class="btn btn-primary btn-block btn-lg" [disabled]="loading || f.invalid" [innerHTML]="submitButtonText"></button>
        </div>
        <div class="m-t-20 m-b-40 p-b-40 text-inverse">
          Already a member? Click <a routerLink="/login">here</a> to login.
        </div>
        <hr />
        <p class="text-center">
          &copy; I1820 Open-Souce Organization All Right Reserved {{ today | date:'yyyy' }}
        </p>
      </form>
    </div>
    <!-- end register-content -->
  </div>
  <!-- end right-content -->
</div>
<!-- end register -->
