<!-- begin breadcrumb -->
<app-breadcrumb></app-breadcrumb>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">Thing Chart <small>Data is in your hand</small></h1>
<!-- end page-header -->
<div class="row">
  <!-- begin period-information-form -->
  <div class="col-md-6">
    <div class="panel panel-inverse">
      <div class="panel-heading">
        <h4 class="panel-title">Period Information</h4>
      </div>
      <div class="panel-body">
        <form #f="ngForm" (ngSubmit)="formSubmit(f)" class="margin-bottom-0">
          <ng-select [items]="thing?.assets"
            bindValue="name"
            bindLabel="title"
            [multiple]="true"
            ngModel
            name="assets"
            placeholder="Assets"
            required>
          </ng-select>
          <div class="row row-space-10">
            <mat-form-field class="col-md-6 m-b-15">
              <input matInput [matDatepicker]="sincePicker" ngModel #sinceDate="ngModel" name="sinceDate" placeholder="Since" required />
              <mat-datepicker-toggle matSuffix [for]="sincePicker"></mat-datepicker-toggle>
              <mat-datepicker #sincePicker></mat-datepicker>

              <mat-error *ngIf="sinceDate.hasError('required')">
                Date of Since is required.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row row-space-10">
            <mat-form-field class="col-md-6 m-b-15">
              <input matInput [matDatepicker]="untilPicker" ngModel #untilDate="ngModel" name="untilDate" placeholder="Until" required />
              <mat-datepicker-toggle matSuffix [for]="untilPicker"></mat-datepicker-toggle>
              <mat-datepicker #untilPicker></mat-datepicker>

              <mat-error *ngIf="untilDate.hasError('required')">
                Date of Until is required.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row m-b-15">
            <mat-form-field class="col-md-12">
              <input matInput name="ws" ngModel type="number" class="form-control" placeholder="Window Size"/>
            </mat-form-field>
          </div>
          <div class="register-buttons">
            <button type="submit" class="btn btn-primary btn-block btn-lg" [disabled]="loading || f.invalid" [innerHTML]="submitButtonText"></button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- end period-information-form -->
  <div class="col-md-6">
    <div class="panel panel-inverse">
      <div class="panel-heading">
        <h4 class="panel-title">Chart Information</h4>
      </div>
      <div class="panel-body">
        <div class="row m-b-15">
          <mat-form-field class="col-md-12">
            <mat-label>Chart Type</mat-label>
            <mat-select [(ngModel)]="chartType">
              <mat-option value="areaspline">Area</mat-option>
              <mat-option value="line">Line</mat-option>
              <mat-option value="column">Column</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="row m-b-15">
          <div class="col-md-12">
            <p>Response Time: {{responseTime}}</p>
            <p>Notes:</p>
            <ul>
              <li>You must select chart type before drawing the chart.</li>
              <li>
                When you choose value for window size, your range is divided into at most
                window size sub-ranges then the average is caculated in each of them.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <!-- begin chart -->
  <div class="col-md-12">
    <div class="panel panel-inverse">
      <div class="panel-heading">
        <h4 class="panel-title">Chart</h4>
      </div>
      <div class="panel-body">
        <div [chart]="chart"></div>
      </div>
    </div>
    <!-- end chart -->
  </div>
