/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,600,700';
@import '~bootstrap/dist/css/bootstrap.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~leaflet/dist/leaflet.css';
@import '~leaflet-measure/dist/leaflet-measure.css';
@import '~leaflet-gesture-handling/dist/leaflet-gesture-handling.css';
@import '~@ng-select/ng-select/themes/default.theme.css';

/* Styling for the Slim Loading Progress Bar container */

.slim-loading-bar {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 99999;
}

.top .slim-loading-bar {
  top: 0;
}

/* Styling for the Slim Loading Progress Bar itself */

.slim-loading-bar-progress {
  margin: 0;
  padding: 0;
  z-index: 99998;
  background-color: #00acac !important;
  height: 3px !important;
  opacity: 0;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

/* Countdown Timer */

.timer .count-down.medium .digital {
  font-size: 36px;
  color: #fff;
}

/* Ng Datepicker */

.ngb-dp-weekday[_ngcontent-c6] {
  color: #2e353c !important;
  font-size: 11px;
  font-weight: bold;
  font-style: initial !important;
}

.ngb-dp-header[_ngcontent-c3],
.ngb-dp-weekdays[_ngcontent-c6] {
  background-color: #f2f3f4 !important;
}

[_nghost-c3].dropdown-menu {
  border: none;
}

[_nghost-c3].dropdown-menu:focus {
  outline: none !important;
}

.ngb-dp-week[_ngcontent-c6] {
  margin-bottom: 4px !important;
}

[_nghost-c7] > select[_ngcontent-c7] {
  font-size: 12px !important;
}

/* Tags Input */

.tags-input__tag[_ngcontent-c3] {
  padding: 2px 24px 3px 7px !important;
  font-size: 12px !important;
  margin: 2px 5px 2px 0 !important;
  line-height: 16px !important;
}

.tags-input__tag-remove-btn[_ngcontent-c3] {
  font-size: 18px !important;
  margin-right: -20px !important;
  margin-left: 5px !important;
  margin-top: 0 !important;
}

/* header */
.header .navbar-nav > li > .dropdown-menu {
  position: absolute;
}

.dropdown-menu-right.dropdown-menu {
  right: 0 !important;
  left: auto !important;
}
