<!-- begin breadcrumb -->
<app-breadcrumb></app-breadcrumb>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">Dashboard <small>Everything at a glance</small></h1>
<!-- end page-header -->
<div class="row">
  <!-- begin thing-creation-map -->
  <div class="col-12">
    <div class="panel panel-inverse">
      <div class="panel-heading">
        <h4 class="panel-title">Map</h4>
      </div>
      <div class="panel-body">
        <div leaflet class="map"
                     [leafletOptions]="options"
                     [leafletCenter]="{ lat: centerLat, lng: centerLng }"
          >
        </div>
      </div>
    </div>
  </div>
  <!-- end thing-creation-map -->
</div>
