<div class="modal-header">
  <h4 class="modal-title">Widget Creation</h4>
  <button type="button" class="close" aria-label="Close" (click)="dialogRef.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form #f="ngForm" (ngSubmit)="formSubmit(f)" class="margin-bottom-0">
    <div class="row m-b-15">
      <mat-form-field class="col-md-12">
        <input matInput name="title" #title="ngModel" ngModel type="text" placeholder="Title" required />
        <mat-error *ngIf="title.hasError('required')">
          Title is required.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row m-b-15">
      <div class="col-md-12">
        <ng-select
          ngModel
          name="project"
          required

          placeholder="Project"
          [items]="projects$ | async"
          bindLabel="name"
          bindValue="id"
          [clearable]="false"
          (change)="onProjectChange($event); f.controls.thing.reset(); f.controls.asset.reset()"
          >
        </ng-select>
      </div>
    </div>
    <div class="row m-b-15">
      <div class="col-md-12">
        <ng-select
          ngModel
          name="thing"
          required

          placeholder="Thing"
          [items]="things$ | async"
          bindLabel="name"
          bindValue="id"
          [clearable]="false"
          (change)="onThingChange($event); f.controls.asset.reset()"
          >
        </ng-select>
      </div>
    </div>
    <div class="row m-b-15">
      <div class="col-md-12">
        <ng-select
          ngModel
          name="asset"
          required

          placeholder="Asset"
          [items]="thing?.assets"
          bindLabel="title"
          bindValue="name"
          [clearable]="false"
          >
        </ng-select>
      </div>
    </div>
    <div class="register-buttons">
      <button type="submit" class="btn btn-success btn-block btn-lg" [disabled]="loading || f.invalid" [innerHTML]="submitButtonText"></button>
    </div>
  </form>
  <hr>
  <label class="control-label">Widget Type: </label>
  <div class="row m-b-15">
    <mat-form-field class="col-md-12">
      <mat-select [(ngModel)]="type">
        <mat-option *ngFor="let type of widgetTypes" [value]="type">
          {{ type | titlecase }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <!-- begin widget options -->
  <!-- widget options is generated dynamically -->
  <label class="control-label">Widget Options: </label>
  <form #wf="ngForm">
    <div *ngFor="let option of widgetOptions[this.type]" class="row m-b-15">
      <mat-form-field class="col-md-10">
        <mat-select *ngIf="option.type === 'option'" name="{{ option.name }}" ngModel placeholder="{{ option.name | titlecase }}">
          <mat-option *ngFor="let option of option.options" value="option">
            {{ option | titlecase }}
          </mat-option>
        </mat-select>
        <input matInput *ngIf="option.type !== 'option'" name="{{ option.name }}" ngModel type="{{ option.type }}" placeholder="{{ option.name | titlecase }}" />
      </mat-form-field>
    </div>
  </form>
  <!-- end widget-options -->
  <label class="control-label">Widget Size: </label>
  <div class="row m-b-15">
    <mat-form-field class="col-md-12">
      <mat-select [(ngModel)]="size">
        <mat-option [value]="12">Full</mat-option>
        <mat-option [value]="6">Half</mat-option>
        <mat-option [value]="3">Quarter</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div class="modal-footer">
</div>
